.header_box {
  border-bottom: 1px #eaecee solid;
  width: 100%;
}
.header_box span {
  position: absolute;
  right: -370px;
  color: #5869da;
  font-size: 18px;
  cursor: pointer;
  transition: 1s;
  z-index: 1000;
}

/* header_box_navBar */
.header_box_navBar {
  width: 100vw;
  z-index: 999;
  position: fixed;
  top:0;
  background-color: rgba(18, 45, 72, 0.4);
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.header_box_navBar ul {
  list-style: none;
  width: calc(100vw - 20px);
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: 14px;
  font-family:inherit;
  font-weight: bolder;
}
.header_box_navBar ul li {
  margin: 0 10px;
  transition: 1s;
  cursor: pointer;
}
.header_box_navBar ul div span {
  cursor: pointer;
  margin: 0 5px;
}
.back_top {
  position: fixed;
  bottom: 100px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #5869da;
  z-index: 1000;
}
.Mask {
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}
.selete_navBar {
  color: #08d9d6;
  /* background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%); */
  font-size:15px
}
