.header_box {
    border-bottom: 1px #eaecee solid;
    width: 100%;
  }
  .header_box_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1110px;
    height: 88px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header_box_top .logo {
    width: 200px;
  }
  .header_box_top .options {
    width: 330px;
    height: 39px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .options .Buy_Now:hover{
background-color: #e3363e;
  }
  .options ul {
    width: 230px;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #687385;
    font-weight: bolder;
    margin: 0;
  }
  
  .options div {
    color: #fff;
    font-weight: bolder;
    background-color: #5869da;
    font-weight: 700;
    width: 72.2px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    border-radius: 3px;
  }

  /* header_box_navBar */
  .header_box_navBar{
    width: 100%;
    height: 54px;
background-color: #fff;
  }
  .header_box_navBar ul{
    list-style: none;
    width: 1110px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    font-size: 12px;
    color: #687385;
    font-weight: bolder;
  }
  .header_box_navBar ul li{
    margin: 0 20px;
    transition: 1s;
  }
  .header_box_navBar ul li:hover{
    color: #5869da;
    transform: scale(1.1);
  }
  .back_top {
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 30px;
    height: 30px;
    border-radius:50% ;
    text-align: center;
    color: #fff;
    background-color: blue;
  }