
.crumbs {
	width: 1100px;
}

.crumbs p span {
	cursor: pointer;
}

.crumbs p span {
	font-size: 12px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.crumbs p span:hover {
	color: #5869da;
}

.carousel:hover {
	box-shadow: 1px 1px 15px 0;
}

.carousel:hover .carousel_desc {
	transform: translateY(-30px);
}

.carousel .icon {
	position: relative;
	top: 10px;
	left: 20px;
	font-size: 20px;
	color: #f00;
}

.carousel .backcolor {
	background-image: linear-gradient(transparent, black);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	border-radius: 10px;
}

.carousel .carousel_desc {
	position: absolute;
	bottom: 0;
	padding: 0 45px;
	transition: 0.5s;
}

.carousel_desc h2 {
	color: #fff;
	font-size: 21px;
}

.carousel_desc p {
	color: #fff;
	font-size: 12px;
}

.food {
	border-radius: 10px;
	box-shadow: 1px 2px 7px 0;
	transition: 0.5s;
}

.food:hover {
	transform: translateY(-15px);
}

.backcolor {
	background-image: linear-gradient(transparent, black);
	position: absolute;
	top: 41%;
	width: 100%;
	height: 100px;
}



.article_left_hot_img {
	background-size:100% auto;
	transition: 1s;
	background-image: url('http://47.107.243.60:5003/img/home_img/fa7a162e40a540f57b3c80aeb8c8fe0f.jpg');
}
.article_left_hot_img:hover{
	background-size: 130%;
}

.article_left_hot_content {
	width: 600px;
	height: 300px;
	position: relative;
	background-color: white;
	top: -70px;
	left: 50%;
	margin-left: -300px;
	padding: 40px;
}

.article_left_hot_content_desc {
	margin-bottom: 25px;
}

.article_left_hot_content_desc a {
	display: inline-block;
	line-height: 30px;
	height: 30px;
	border: 1px solid #e9e9e9;
	color: black;
	border-radius: 15px;
	font-size: 12px;
	padding: 0 20px;
	margin-right: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.article_left_hot_content_desc span {
	display: inline-block;
	margin: 0 15px;
}

.article_left_natural {
	border: 0.5px #e8e8e8 solid;
}


.article_left_natural_box_natural_img img {
	width: 100%;
	height: 230px;
	transition: all 0.7s ease-out;
}

.article_left_natural:hover img {
	transform: scale(1.1);
	transition: transform 1s;
}

.article_left_natural_content_title,.article_left_natural_content_content {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.article_left_natural_content_title{
	margin: 5px 0;
-webkit-line-clamp: 1;
margin-bottom: 5px;
line-height: 33px;
height: 33px;
}
.article_left_natural_content_content{
	-webkit-line-clamp: 3;
}

.article_left_natural_content_desc {
}

.article_left_natural_content_desc a {
	display: inline-block;
	line-height: 30px;
	height: 30px;
	border: 1px solid #e9e9e9;
	color: black;
	border-radius: 15px;
	font-size: 12px;
	padding: 0 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.article_left_natural_content_desc span {
	display: inline-block;
	margin: 0 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.pagination {
	width: 100%;
	text-align: center;
}

.pagination ul .ant-pagination-item {
	background-color: aliceblue;
	color: rgba(0, 0, 0, 0.65);
}

.pagination ul .ant-pagination-item-active {
	background-color: #5869da;
	border-color: #5869da;
	color: white;
}

.pagination ul .ant-pagination-item-active a {
	color: white;
}

.ant-pagination-item a:hover {
	color: #5869da;
}
