.footer_box{
    width: 1110px;
    margin: 0  auto ;
    display: flex;
    justify-content: space-between;
    font-family:'Courier New', Courier, monospace;
}
.footer_box div{
    width: 260px;
    height: 40px;
    border-bottom: 1px solid #eaecee;
}
.footer_box div h4{
    width:80px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-bottom: 30px;
    color: white;
}
.footer_box div h4:after{
    content: '';
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    right: auto;
    height: 2px;
    width: 39px;
    background-color: #eaecee;
}
.quick_link ul{
list-style: none;
}
.quick_link ul li{
    height: 24px;
    margin: 12px 0;
    font-size: 12px;
    color: #687385;
    border-bottom: #eaecee 1px solid;
}

.newsletter .agreement{
    margin-top: 5px;
    border: none;
    display: flex;
    align-items: center;
    font-size: 12px;
}

 .email_input input{
    width: 160px;
    height: 30px;
    padding:8px 25px ;
    border-radius: 33px 0 0 30px;
    border-left:#e1e1e1 ;
    border-top:#9EA39E ;
    border-bottom:#e1e1e1 ;
    border-right: none;
    outline:none
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #9EA39E; 
    font-size:12px ;
    font-family: 'Gabriola';
    } 
.email_input button{
    width:75px ;
    height: 30px;
    font-size: 12px;
    background-color: #5869da;
    color: #FFF;
    border: 0;
    border-radius:0 33px   30px 0;
    cursor: pointer;
}