@font-face {
  font-family: "iconfont"; /* Project id 3197916 */
  src: url('iconfont.woff2?t=1657788026715') format('woff2'),
       url('iconfont.woff?t=1657788026715') format('woff'),
       url('iconfont.ttf?t=1657788026715') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-shoucang1:before {
  content: "\e8b9";
}

.icon-kongjian:before {
  content: "\e60a";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-shejiaotubiao-06:before {
  content: "\e641";
}

