.banner_box{
    width: 100%;
    height: 100vh;
    background-size:100vw 800px;
    background-position: 0 0;
}
.banner_box .banner_info{
    height: 100%;
    width: 1110px;
    margin: 0 auto;
    padding: 80px 0px;
    position: relative;
    top: 20px;
    left: 360px;
    display: flex;
    justify-content: space-between;
}
.banner_info_content,.banner_info_img{
    width: 50%;
    height: 365px;
    padding:0 20px ;
    font-weight: 900;
    color: #687385;
}
.banner_info_content .msg{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin: 60px 0;
    font-family: 'Gabriola';
    color: wheat;
}
.banner_info_content h2:nth-of-type(1){
    font-size: 50px;
    color: white;
}
.banner_info_content h2:nth-of-type(2){
    font-size: 42px;
    color: white;
}
.banner_info_content p{
    font-size: 16px;
    color: white;
    margin: 40px 0;
}
.banner_info_content .email_input input{
    width: 320px;
    height: 48px;
    padding:16px 25px ;
    border-radius: 33px 0 0 30px;
    border-left:#e1e1e1 ;
    border-top:#9EA39E ;
    border-bottom:#e1e1e1 ;
    border-right: none;
    outline:none
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #9EA39E; 
    font-size:20px ;
    font-family: 'Gabriola';
    } 
.banner_info_content .email_input button{
    width:120px ;
    height: 48px;
    background-color: #5869da;
    color: #FFF;
    border: 0;
    border-radius:0 33px   30px 0;
}
